<!DOCTYPE html>
<html xmlns:th="https:www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Fees</title>
<style type="text/css">
#content {
	position: absolute;
	margin-top: -0px;
	width: 100%;
}

#foot {
	margin-top: auto;
	margin-left: -690px;
}

table {
	text-align: center;
}

#foot {
	margin-top: auto;
	margin-left: -690px;
}

#myInput {
	margin-left: 680px;
}
</style>
<link href="/css/boot.min.css" rel="stylesheet">
<script src="/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style1.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/style.css">
<script src="js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.slim.min.js"></script>
<script src="/js/jquery.popper.js"></script>

</head>
<body>
	<div th:insert="fragments/headfoot::sidebar"></div>
	<div id="content">
		<a href="/viewfeesstructure" class="button"
			style="height: 50px; width: 100px; position: absolute; margin-left: 1100px; margin-top: 30px;">Update
			Fees Structure</a>
		<div class='title' style="text-align: center;">
			<h2>Fees Management System</h2>
		</div>
		<form action="/feesfind" style="text-align: center;">
			<select name="timing" required>
				<option selected value="null">Timing</option>
				<option value="6.00A.M to 7.00AM">6.00A.M to 7.00AM</option>
				<option value="7.00A.M to 8.00AM">7.00A.M to 8.00AM</option>
				<option value="6.00P.M to 7.00PM">6.00P.M to 7.00PM</option>
				<option value="7.00P.M to 8.00PM">7.00P.M to 8.00PM</option>
			</select> <select name="fees" required>
				<option value="Paid">Paid</option>
				<option value="Unpaid">Unpaid</option>
			</select> <input type="submit" value="Get Students">
		</form>
		<input type="text" id="myInput" onkeyup="myFunction()"
			placeholder="Search by Email" title="Type in a name">
		<table class="table table-striped" id="myTable">
			<thead class='thead-dark'>
				<tr>
					<th style="text-align: center;" scope="col">S.No.</th>
					<th style="text-align: center;" scope="col">Student Name.</th>
					<th style="text-align: center;" scope="col">Email</th>
					<th style="text-align: center;" scope="col">Status</th>
					<th style="text-align: center;" scope="col">Action</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="s:${get}">

					<td th:text="${sStat.count}"></td>
					<td th:text="${s.sname}"></td>
					<td th:text="${s.email}"></td>
					<td th:text="${s.fees}"></td>
					<td scope="col">
						<form action="/change">
						<input type="hidden" name="email" th:value="${s.email}">
							<input type="hidden" name="id" th:value="${s.id}">
							<button type="submit" style="border-radius: 50%;">
								<img alt="tick" src="images/tick.png" height="20px" width="20px">
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<div id="foot">
			<div th:replace="fragments/headfoot::footer"></div>
		</div>
	</div>
	<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
</body>
</html>