<!DOCTYPE html>
<html xmlns:th="https:www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Staff page</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style1.css">
<link rel="stylesheet" href="/css/navbar.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap-select.min.css">
<style type="text/css">


.filter {
	padding: 10px 20px 0px 90px;
}

#table {
width:90%;
margin-left:80px;
}

#foot {
	margin-top: auto;
	margin-left: -690px;
}

body {
	
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

legend {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	width: 35%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px 5px 5px 10px;
	background-color: #ffffff;
}
#myInput{position: absolute;margin-left:1100px;margin-top:-27px;width:250px;}

.container {
	font-family: arial;
	font-size: 24px;
	margin: 25px;
	width: 350px;
	height: auto;
}

</style>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

</head>
<body>
<div th:replace="fragments/headfoot::sidebar"></div>
	<div id="content">
		<div class="filter">
			<form action="/managefilter" method="post">
				<select class="selectpicker" data-live-search="true" name="courses">
					<option selected value="null">Courses</option>
					<option value="Parichaya">Parichaya</option>
					<option value="Prathamik">Prathamik</option>
					<option value="Madhyama">Madhyama</option>
					<option value="Rashtrabhasha">Rashtrabhasha</option>
					<option value="Praveshika">Praveshika</option>
					<option value="Visharad Poorvardh">Visharad Poorvardh</option>
					<option value="Visharad Uttaradh">Visharad Uttaradh</option>
					<option value="Praveen Poorvardh">Praveen Poorvardh</option>
					<option value="Praveen Uttaradh">Praveen Uttaradh</option>
					<option value="English Lower">English Lower</option>
					<option value="English Higher">English Higher</option>
					<option value="Tamil Lower">Tamil Lower</option>
					<option value="Tamil Higher">Tamil Higher</option>
					<option value="C.O.A">C.O.A</option>
				</select> 
				<input type="submit" value="Filter">
			</form>
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Student names.." title="Type in a name">
			<div>
			</div>
			</div>
			<div></div>
			<div>
				<div id="table">
					<table id="myTable" class="table table-striped table-dark">
						<thead>
							<tr>
								<th>S.No</th>
								<th>Student Name</th>
								<th>E-Mail</th>
								<th>Update</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="s:${get}">
								<td th:text="${sStat.count}"></td>
								<td th:text="${s.sname}"></td>
								<td th:text="${s.email}"></td>
								<td><a th:href="@{/manageedit/{id}(id=${s.id})}" style="padding-left: 15px;"><img alt="update" src="images/upload.png" height="20px" weight="20px"></a></td>
						<td><a th:href="@{/managedelete/{id}(id=${s.id})}" style="padding-left: 15px;"><img alt="delete" src="images/dlticon.png" height="20px" weight="20px"></a></td>
							</tr>
						</tbody>
					</table>
					
				</div>
</div>
<div id="foot">
		<div th:replace="fragments/headfoot::footer"></div>
	</div></div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
		
</body>
</html>